In [2]:
import pandas as pd
from data_utils import *

df = load_data_df('./data/')
df.head()

,LN,LC,Valid,W,D1L,D1R,D2L,D2R,D3L,D3R,...,D4R,D5L,D5R,L2,L1,R2,R1,LN1,RN1,Id
0,1,1,255,3.45,4.08,6.52,0.0,2.5,5.24,1.74,...,1.484275,6.2,4.20,1,2,1,2,2,1,1
1,1,1,255,3.45,4.09,0.96,0.0,2.5,5.24,1.74,...,1.484275,6.2,4.20,1,2,1,2,2,1,1
2,1,1,255,3.43,4.09,0.96,0.0,2.5,5.24,1.74,...,1.484275,6.2,4.18,1,2,1,2,2,1,1
3,1,1,255,3.43,4.15,1.06,0.0,2.5,5.24,1.74,...,1.500624,6.2,4.18,1,2,1,2,2,1,1
4,1,1,255,3.42,4.15,1.06,0.0,2.5,5.22,1.74,...,1.500624,6.2,4.18,1,2,1,2,2,1,1

In [9]:
from sklearn.model_selection import train_test_split

train = df[(df.LN != 0) & (df.Id != 0)]
X = train[["L2", "L1", "R2", "R1", "LN1", "RN1", "LN", "LC"]]
y = train[["Id"]]

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2)
print(X_train.shape, X_val.shape)

(288183, 8) (72046, 8)

In [10]:
from xgboost import XGBClassifier
from sklearn.metrics import mean_absolute_error

model = XGBClassifier(n_estimators=1000)

model.fit(X_train, y_train)

val_preds = model.predict(X_val)

print("Mean Absolute Error : {}".format(mean_absolute_error(val_preds, y_val)))

C:\Users\NAYAKAB\AppData\Roaming\Python\Python36\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

Mean Absolute Error : 0.00798101213113844